<div class="card mb-3 mr-5">
    <div class="card-body">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- In Card Ad -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-8076025812516606"
            data-ad-slot="1304497791"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <p class="card-text" style="padding-top: 5px; font-size: 13px; color: rgb(165, 165, 165);"><span class="fas fa-info-circle"></span> This is an advertisement.</p>
    </div>
</div>