<div class="container" style="text-align: center; padding-top: 20px;">
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <a class="btn btn-secondary" href="https://github.com/Lumiobyte">GitHub</a>
        <a class="btn btn-secondary" href="https://twitter.com/Lumiobyte">Twitter</a>
        <a class="btn btn-secondary" href="https://reddit.com/u/RedonexYT">Reddit</a>
        <a class="btn btn-secondary" href="https://youtube.com/RedonexYT">YouTube</a>
        <a class="btn btn-secondary" href="https://discordapp.com">Discord</a>
      </div>
      <br>
      <br>
    <p style="font-size: 12px; color:rgb(112, 112, 112)"><span class="far fa-copyright"></span> Copyright 2019 Lumiobyte/Cockatoo Development Studios. All Rights Reserved.</p>
</div>