<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Lumiobyte's Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <!-- you can set active class -->
          <a class="nav-link" href="/"><span class="fas fa-home"></span> Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="fas fa-comment-dots"></span> My ramblings
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/blog"><span class="fas fa-newspaper"></span> Blog</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/100daysofcode"><span class="fas fa-laptop-code"></span> #100DaysOfCode</a>
              <a class="dropdown-item" href="/opinion"><span class="fas fa-lightbulb"></span> My random opinion</a>
            </div>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fas fa-tools"></span> Tools
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/redstoneideas"><span class="fas fa-cubes"></span> Minecraft Redstone Idea Generator</a>
              </div>
            </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fas fa-smile"></span> About
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/about"><span class="fas fa-info-circle"></span> About</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/projects"><span class="fas fa-tasks"></span> Projects</a>
            <!--
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/todo"><span class="fas fa-pen"></span> To-Do</a>
            -->
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact"><span class="fas fa-envelope"></span> Contact</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fas fa-user-shield"></span> Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item disabled" href="#"><span class="fas fa-user"></span> Welcome, {{ user }}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/createBlogPost"><span class="fas fa-pen"></span> Create blog post</a>
            <a class="dropdown-item" href="/createLog"><span class="fas fa-pen"></span> Create #100DaysOfCode log</a>
            <a class="dropdown-item" href="/createOpinion"><span class="fas fa-pen"></span> Create random opinion</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/contactRequests"><span class="fas fa-inbox"></span> Contact Requests</a>
            <a class="dropdown-item" href="/administrator"><span class="fas fa-shield-alt"></span> Admin panel</a>
            <!--
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/todo"><span class="fas fa-pen"></span> To-Do</a>
            -->
          </div>
        </li>
        {% endif %}
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      -->
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/search/">
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><span class="fas fa-search"></span> Search</button>
      </form>
    </div>
  </nav>