{% extends "base.html" %}

{% block pageTitle %}#100DaysOfCode: Delete log{% endblock %}

{% block content %}

<h1>Delete a log:</h1>
<br>
<br>
<h4>{{ logObj.title }}</h4>
<br>
<br>
<p>Are you sure? This action is irreversible!</p>

<form method="POST"> {% csrf_token %}

    <input type="checkbox" required="required" value="0"><p style="display:inline; padding-left:10px;"><span class="fas fa-exclamation-triangle"></span> Yes, I understand</p>
    <br>
    <br>
    <a class="btn btn-info" href="/100daysofcode/log/{{ logObj.id }}"><span class="fas fa-angle-left"></span> Back</a>
    <button class="btn btn-danger"><span class="fas fa-trash"></span> Delete</button>

</form>

{% endblock %}