{% extends "base.html" %}

{% block description %}{{ postObj.description }}{% endblock %}
{% block pageTitle %}Blog: {{ postObj.title }}{% endblock %}

{% block analytics %}{% include "analytics.html" %}{% endblock %}

{% block content %}
{% if postObj.image %}
<img src="{{ postObj.image.url }}" class="card-img-top">
{% endif %}
<h1>{{ postObj.title }}</h1>
<p style="padding-top: 5px; padding-bottom: 15px; font-size: 13px; color: rgb(165, 165, 165);"><span class="fas fa-info-circle"></span> By {{ postObj.user }} / Published {{ postObj.add_timestamp }} UTC</p>
<p>{{ postObj.content|linebreaks }}</p>
{% include "mailinglistform.html" %}
{% include "cardAD.html" %}
<a class="btn btn-info" href="/blog"><span class="fas fa-angle-left"></span> Back</a>
{% if request.user.is_authenticated %}
    {% if request.user.is_staff %}
<a class="btn btn-warning" href="./edit"><span class="fas fa-edit"></span> Update</a>
<a class="btn btn-danger" href="./delete"><span class="fas fa-trash"></span> Delete</a>
    {% endif %}
{% endif %}

{% endblock %}